<launch>
	
	<arg name="output"         	default="screen" />     <!-- log | screen -->
	<arg name="MapFrame"    	default="map" /> 		<!-- map_static | map-->	
	<arg name="RoobotFrame"    	default="base_footprint" />     <!--base_footprint | robot0-->	
	<arg name="VelTopic"    	default="/cmd_vel" /> 	<!-- cmd_vel | /robot0/cmd_vel-->	
	<arg name="LaserTopic"    	default="/scan" /> 	<!-- /scan | /robot0/laser_0-->	
	
	<node pkg="youbot_main_control" type="youbot_main_control_node" name="youbot_control" output="$(arg output)">   
		
		<!-- Parameters StateMachine.cpp-->
      	<param name = "tf_base_frame"       	type = "string" value = "$(arg MapFrame)"   />
      	<param name = "tf_robot_frame"      	type = "string" value = "$(arg RoobotFrame)" />
      	<param name="init_pose_x" 				type="double" 	value="3.0" />
    	<param name="init_pose_y" 				type="double" 	value="2.0" />
    	<param name="init_pose_yaw" 			type="double" 	value="1.57" />
    	<param name="loop_rate_main" 			type="double" 	value="20.0" />
    	
    	<!-- Parameters states.cpp. 1-statesCommon 2-statesDrive 3-statesGrasp -->
    	<param name="sub_task_topic"   			type="string"   value="subTask" />
      	<param name = "vel_topic"      			type = "string" value = "$(arg VelTopic)" />
      	<param name = "laser_topic"     		type = "string" value = "$(arg LaserTopic)" />
      	
	<param name = "move_base_status_topic"  type = "string" value = "move_base/status" />
      	<param name = "move_base_goal_topic"    type = "string" value = "move_base_simple/goal" />
      	<param name = "positions_path"   		type = "string" value = "$(find youbot_main_control)/atwork2015_places.txt" />
      	
      	<param name = "set_pose_topic"     		type = "string" value = "setPose" />
      	<param name = "find_objet_topic"     	type = "string" value = "getObject" />
      	<param name = "grasp_object_topic"      type = "string" value = "grabObject" /> 	      	
   </node>

   <!--Not in the youbot. It will be started together with the Navigation Stack
    <include file="$(find youbot_main_control)/launch/includes/move_base.launch.xml"/> -->

</launch>
